<h2>New User</h2>
<div class="formContent">
    <label for="this.charName">Character Name:
        <input type="text" [(ngModel)]="this.charName">
    </label>
    <label for="this.password">Password:
        <input type="password" [(ngModel)]="this.password">
    </label>
    <br>
    <label for="this.charClass">Class:
        <select [(ngModel)]="this.charClass">
            <option value="Druid">Druid</option>
            <option value="Hunter">Hunter</option>
            <option value="Mage">Mage</option>
            <option value="Paladin">Mage</option>
            <option value="Priest">Priest</option>
            <option value="Rogue">Rogue</option>
            <option value="Warlock">Warlock</option>
            <option value="Warrior">Warrior</option>
        </select>
    </label>
    <label for="perms">Character Permissions:
        <select [(ngModel)]="this.perms">
            <option value="raider">Raider</option>
            <option value="admin">Admin</option>
        </select>
    </label>
    <label for="role">Role:
        <select [(ngModel)]="this.role">
            <option value="Tank">Tank</option>
            <option value="DPS">DPS</option>
            <option value="Healer">Healer</option>
        </select>
    </label>
</div>
<input type="submit" (click)="submit()">