nav {
    height: 50px;
    background-color: #2F3136;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 100%;
    box-shadow: 0px 0px 4px black;
}

nav a {
    padding: 21px 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav h3 {
    float: right;
    color: white;
    padding-right: 20px;
}

nav a:hover {
    background-color: #202225;
}

.customNavBar{
    margin-top: 11px;
}

body {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2F3136;
    height: fit-content;
    width: 100%;
    color: white;
}

mat-card {
    margin-top: 30px;
}