<div class ="container">
    <div class = "card">
        <div class="lootListHeader">
            <input type="text" [(ngModel)]="itemName" placeholder="Search By Item" />
            <b>Loot Sheet</b>
            <input type="text" [(ngModel)]="charName" placeholder="Search By Name"/>
        </div>
        <div class = "card-body">
            <table class="table table-striped">
                <thead>
                    <th>Character Name</th>
                    <th>Priority Value</th>
                    <th>Item Name</th>
                    <th></th>
                </thead>    
                    <tbody>
                        <tr *ngFor = "let itemEntry of itemEntrySortedOnCalculatedValues | searchByItemNamePipe: itemName | searchByCharName: charName">
                        <td> {{ itemEntry.charName }} </td>
                        <td> {{ itemEntry.prioValueCalc }}</td>
                        <td> {{ itemEntry.itemName }} </td>
                        <td>    
                            <span *ngIf="!itemEntry.hasItem;else doesNotHaveItemButton">
                                <button disabled [id]="itemEntry.charName + itemEntry.itemName + itemEntry.prioValue" class="doesNotHaveItem" (click)="toggleItemHave(itemEntry)">Does Not Have Item</button>
                            </span>
                            <ng-template #doesNotHaveItemButton>
                                <button disabled [id]="itemEntry.charName + itemEntry.itemName + itemEntry.prioValue" class="hasItem" (click)="toggleItemHave(itemEntry)">Has Item</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  