.table {
    width: auto;
    max-width: none;
}

.table-fixed {
    background-color: white !important;
}

.table-fixed thead th {
    background-color: white !important;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}

.checkBox{
    height: 30px;
    width: 30px;
}

.dateColumn {
    text-align: center;
    width: 60px;
}

.charColumn {
    width: 190px;
}
