Search By Name: <input type="text" [(ngModel)]="charNameSearch"/>
<br>
<input type="text" [(ngModel)]="raidDateToAdd"><button (click)="addDate()">Add Date</button>
<div>
    <div>
        <h3 class="text-center"> Attendance
        </h3>
        <div>
            <table mdbTable class="table table-striped table-fixed">
                <thead>
                    <th>Character Name</th>
                    <th *ngFor="let raidDays of uniqueRaidDates" class="dateColumn">{{ raidDays }}</th>
                </thead> 
                <tbody>
                    <tr *ngFor="let char of charsAndClasses | searchByCharName: charNameSearch">
                        <td class = "charColumn"> {{ char.charName }} </td>
                        <td class = "dateColumn" *ngFor="let raidDay of uniqueRaidDates">
                            <span *ngIf="didPlayerAttend(raidDay, char.charName); else notChecked">
                                <button class="checkBox" [id]="char.charName + raidDay" (click)="toggleTrueFalse(raidDay, char.charName)">&#10003;</button>
                            </span>
                            <ng-template #notChecked>
                                <button class="checkBox" [id]="char.charName +  raidDay" (click)="toggleTrueFalse(raidDay, char.charName)">X</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  