<div class ="container">
    <div class = "card">
        <h3 class="text-center"> <input type="text" [(ngModel)]="itemName" placeholder="Search By Item" /> Item Entry List <input type="text" [(ngModel)]="charName" placeholder="Search By Name"/></h3>
        <div class = "card-body">
            <table class="table table-striped">
                <thead>
                    <th>Character Name</th>
                    <th>Priority Value</th>
                    <th>Item Name</th>
                    <th></th>
                </thead>    
                    <tbody>
                        <tr *ngFor = "let itemEntry of itemEntrySortedOnCalculatedValues | searchByItemNamePipe: itemName | searchByCharName: charName">
                        <td> {{ itemEntry.charName }} </td>
                        <td> {{ itemEntry.prioValueCalc }} </td>
                        <td> {{ itemEntry.itemName }} </td>
                        <td>    
                            <span *ngIf="!itemEntry.hasItem;else doesNotHaveItemButton">
                                <button [id]="itemEntry.charName + itemEntry.itemName + itemEntry.prioValue" class="doesNotHaveItem" (click)="toggleItemHave(itemEntry)">Does Not Have Item</button>
                            </span>
                            <ng-template #doesNotHaveItemButton>
                                <button [id]="itemEntry.charName + itemEntry.itemName + itemEntry.prioValue" class="hasItem" (click)="toggleItemHave(itemEntry)">Has Item</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  