<input type="text" [(ngModel)]="itemName" (input)="Search()"/>
<div class ="container">
    <div class = "card">
        <h3 class="text-center"> Item Entry List</h3>
        <div class = "card-body">
            <table class="table table-striped">
                <thead>
                    <th>test</th>
                </thead>    
                    <tbody>
                        <tr *ngFor = "let itemEntry of itemEntries">
                        <td> {{ itemEntry.charName }} {{ itemEntry.prioValue }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  